body{
    margin: 0;
    padding: 0;
    font-family: Avenir sans-serif;
    font-size: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 27% 1fr 10%;
    grid-template-rows: 120px 4fr 1fr;
    grid-gap: 5px;
    width: 100vw;
    height: 100vh;
}
.grid *{
    padding: 10px;
}
header{
    background-color: #0c1753;
    color: white;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #3B8070;
    color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    transition: color 0.4s ease;
}
nav ul li:hover{
    color: #0c1753;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.57);
}
.reseaux-sociaux i{
    font-size:20px;
}
main{
    background-color: #8e44ad;
    grid-column: 2 / 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ff2d;
    color: white;
    font-size: 20px;
    width: 25%;
    transition: all 1s ease;
}
article:hover{
    background-color: #0066ff;
    color: #490509;
}
footer{
    background-color: #4CAF50;
    color: #8e44ad;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
