html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(204,166,164), rgb(199,102,102));
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    font-family: 'Lato';
    overflow: hidden;
}


.card {
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url(https://picsum.photos/360/360?image=1082);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0,0,0,0.85);
}


.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 153, 0, 0.13);
}


.card .img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}


.card .img span {
    width: 25%;
    height: 100%;
    background: url(https://picsum.photos/360/360?image=1082);
    transition: 0.5s;
}


.card .img span:nth-child(1) {
    transition-delay: 0s;
    background-position: 0;
}

.card .img span:nth-child(2) {
    transition-delay: 0.1s;
    background-position: 33.33%;
}
.card .img span:nth-child(3) {
    transition-delay: 0.2s;
    background-position: 66.66%;
}
.card .img span:nth-child(4) {
    transition-delay: 0.3s;
    background-position: 100%;
}

.card:hover .img > span {
    transform: translateY(-100%);
}


.content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.card:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}





/*  ___________2e______________*/
.deux .card {
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url(https://picsum.photos/360/360?image=1082);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0,0,0,0.85);
}


.deux .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 53, 255, 0.39);
}


.deux .card .img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}


.deux .card .img span {
    width: 25%;
    height: 100%;
    background: url(https://picsum.photos/360/360?image=1082);
    transition: 0.5s;
}


.deux .card .img span:nth-child(1) {
    transition-delay: 0s;
    background-position: 0;
}

.deux .card .img span:nth-child(2) {
    transition-delay: 0.1s;
    background-position: 33.33%;
}
.deux .card .img span:nth-child(3) {
    transition-delay: 0.2s;
    background-position: 66.66%;
}
.deux .card .img span:nth-child(4) {
    transition-delay: 0.3s;
    background-position: 100%;
}

.deux .card:hover .img > span {
    transform: translateY(-100%);
}


.deux .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.deux .card:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}
