.cadre {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: #34495e;
}


.balancier {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 140px;
    left: 100px;
    padding-top: 100px;

}


.balancier::before {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 6px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #bdc3c7
}

.balancier .ball {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform-origin: 50% -100px;
}

.balancier .ball::before {

    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 1px;
    top: -100px;
    left: 19px;
    background: #bdc3c7;
}


.balancier .ball-1 {
    animation: ball-1 0.8s ease-out infinite alternate;
}

.balancier .ball-5 {
    animation: ball-5 0.8s ease-out .8s infinite alternate;
}

@keyframes ball-1 {
    0%, 50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(30deg);
    }
}


@keyframes ball-5{
    0%, 50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-30deg);
    }
}
