body{
    margin: 0;
    font-family: sans-serif;
}
header{
    height: 75vh;
    position: relative;
    color: #fff;
    background-image: url('bg.jpg');
    background-position: 10% center;
    background-size: cover;
}
.header-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-content h1{
    font-size: 58px;
    text-transform: uppercase;
    color: #fff;
}
.header-content a{
    padding: 12px 26px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;
}
.header-content a:hover{
    background-color: #fff;
    color: #333;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F69634;
    transition: box-shadow 0.25s ease-in-out;
}
nav.fixed{
    position: fixed;
    top: 0;
    box-shadow: 0 5px 0 0 rgba(0,0,0,0.5);
}
nav a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.content{
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #333;
}
@media screen and (max-width: 768px){
    .content{
        width: 100%;
    }
}