html {
    font-size: 16px;
    font-family: 'Lato';
}

body {
    margin: 0;
}

.sectionApropos {
    background-color: #f7f7f7;
}

.textCentre {
    text-align: center;
}

.margBot {
    margin-bottom: 2rem;
}

.heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #373737, #C0B283);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all .2s;
}


.heading:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0,0,0,0.2);
}


.row {
    display: flex;
    width: 100rem;
    margin: 0 auto;
    height: 51rem;
}

.row .doubleCol {
    width: calc((100% - 6rem) / 2);
    margin: 5rem;
}


.headingTxt {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.margBotSm {
    margin-bottom: 1.5rem;
}

.paragraphe {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}


.btn-text {
    font-size: 1.6rem;
    color: #373737;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #C0B283;
    padding: 3px;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #373737;
    color: #C0B283;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    transform: translateY(-2px);
}
.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(0);
}


.composition  {
    position: relative;
    margin-top: 2.8rem;
}


.composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
}


.composition__photo--p1 {
    left: 0;
    top: -2rem;
}
.composition__photo--p2 {
    right: 0;
    top: 2rem;
}
.composition__photo--p1 {
    left: 20%;
    top: 10rem;
}


.composition__photo:hover {
    outline: 1.5rem solid #c0b283;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
    z-index: 20;

}
.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
}

/* mettez les medias pour test la facilité de faire du responsiv */



@media screen and (max-width: 1590px) {

    .heading {
        font-size: 2.5rem;
    }


    .row {
        display: flex;
        flex-direction: column;
        width: 40rem;
        height: 75rem;
    }
    .row .doubleCol {
        width: 40em;
        margin: 0 auto;
    }

    .row .doubleCol:nth-child(2) {
        padding-top: 5rem;
    }

}

