body{
    margin: 0;
    padding: 0;
    background-color: #545454;
}
.eyes{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.eye{
    width: 240px;
    height: 120px;
    background-color: white;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(50%);
}
