*{
    margin: 0;
    padding: 0;
}

body{
    font-weight: 400;
    font-family: sans-serif;
    color: #777777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image:
            linear-gradient(
            to right bottom, rgba(212, 106, 106, 0.7),
                rgba(255,170,170,0.7)),
            url("20181209_123155.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
}

h1{
    font-size: 3rem;
    letter-spacing: 1rem;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

h2{
    font-size: 1rem;
    letter-spacing: 1rem;
    color: #fff;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
