
body{
    margin:0;
    font-family: 'Lato';
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    background: pink;
    position:relative;
    z-index:1;
}

#overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    margin-top: 400px;
    z-index:2;
    color: white;
}

#overlay h1 {
    font-size: 60px;
    font-weight: 900;
}

#overlay p {
    font-size: 20px;
    padding-bottom: 30px;
}

#overlay #btn {

    background: white;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    color: black;
}
