
.row {
    max-width: 114rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.titre {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}


.conteneur { /* largeur du conteneur */
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem;
    font-size: 1.6rem;
    transform: skewX(-12deg); } /* skew le container */

.conteneur_photo { /* conteneur de l'image */
    width: 15rem;
    height: 15rem;
    float: left; /* pour mettre les élements les uns à la suite des autres */

    shape-outside: circle(50% at 50% 50%); /* pour mettre le texte autour */

    clip-path: circle(50% at 50% 50%); /* pour faire la forme, 50% pour faire un cercle, puis  x et y */
    transform: translateX(-3rem) skewX(12deg); /* pour adapter au conteneur */
    position: relative; /* pour le text figcaption */
}

/* Img en elle même */
.imgVoyage {
    height: 100%;
    transform: translateX(-4rem) scale(1.4); /* la fait glisser pour avoir l'homme vers le milieu */
    transition: all .5s;
}

.conteneurTxt {
    transform: skewX(12deg); /* pour l'adapter au conteneur */
}

.figTitre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.conteneur:hover .figTitre {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.conteneur:hover .imgVoyage {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
}


