body {
    background: radial-gradient(circle at bottom, #9fb8d1 0%, #0c1753 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

circle {
    /* Remplissage essaye Pink */
    fill: none;
    /* Le contour de la forme */
    stroke: #fff;
    /* taille du contour */
    stroke-width: 10px;
    /* On fait un pointillé de 100px puis 100 vide */
    stroke-dasharray: 100 200;
    /* Décale les pointillés de 70px */
    stroke-dashoffset: 70;
    animation: rotation 2000ms ease-in-out infinite alternate;
}


svg {

    transform: translateX(-50px);
    /* décalement sur x = dédoublement */
    /*filter: drop-shadow(100px 100px 0 #00ffff);*/
    animation: movin 2000ms ease-in-out infinite alternate
}

@keyframes rotation {
    0% {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100% {
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}

@keyframes movin {
    0% {
        filter: drop-shadow(100px 0 0 #00ffff);
    }
    50% {
        filter: drop-shadow(0 100px 0 #00ffff);
    }
    100% {
        filter: drop-shadow(-100px 0 0 #00ffff);
    }
}

