.cadre {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    overflow: hidden;
    background: #fc4445;
    color: white;
    font-family: 'Lato';
}


.centre {

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -22.5px;

}


.carousel {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}




.carousel .changeHidden {

    position: absolute;
    top: 0;
    left: 0%;

    height: 45px;
    overflow: hidden;

}


.carousel .changeHidden .contenant {

    position: relative;
    animation: carousel 8s ease-in-out infinite;

}


.carousel .changeHidden .element {
    display: block;
    font-weight: 700;

}


@keyframes carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-45px);
    }
    50%, 70% {
        transform: translateY(-90px);
    }
    75%, 95% {
        transform: translateY(-135px);
    }
    100% {
        transform: translateY(-180px);
    }
}
